.navbar {
    font: 20px Montserrat, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;
    color: #0f0f0f;
}

.text-body{
    color: #0f0f0f;
    font-size: 20px;
}

.text-footer{
    color: #eeeeee;
}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #babcb8; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.conj-span{
    padding: 10px;
}

.container{
    padding: 10px;
}




.form-control-red {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #552128;
    text-overline-color: #552128;
    text-emphasis-color: #761c19;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cc0216;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(204, 2, 22, 0.07);
    box-shadow: inset 0 1px 1px rgba(85, 33, 40, 0.07);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-red::-webkit-input-placeholder{/*para chrome*/
    color: #cc0216;
}

.form-control-red::-moz-placeholder{/*para firefox*/
    color: #cc0216;
}


.form-control-green {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #2bcc43;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.our-btn {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2c2f;
}
.our-btn:focus,
.our-btn.focus {
    color: #fff;
    background-color: #060d14;
    border-color: #010203;
}
.our-btn:hover {
    color: #fff;
    background-color: #071119;
    border-color: #000000;
}

.textarea-comment {
    margin-bottom: 20px;
}
