.navbar {
    font: 20px Montserrat, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;
    color: #0f0f0f;
}

.text-body{
    color: #0f0f0f;
    font-size: 20px;
}

.text-footer{
    color: #eeeeee;
}

.text-footer-dark{
    color: #7d7d7d;
}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #babcb8; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.conj-span{
    padding: 10px;
}

.container{
    padding: 10px;
}




.form-control-red {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #552128;
    text-overline-color: #552128;
    text-emphasis-color: #761c19;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cc0216;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(204, 2, 22, 0.07);
    box-shadow: inset 0 1px 1px rgba(85, 33, 40, 0.07);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-red::-webkit-input-placeholder{/*para chrome*/
    color: #cc0216;
}

.form-control-red::-moz-placeholder{/*para firefox*/
    color: #cc0216;
}


.form-control-green {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #2bcc43;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.our-btn {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2c2f;
}
.our-btn:focus,
.our-btn.focus {
    color: #fff;
    background-color: #060d14;
    border-color: #010203;
}
.our-btn:hover {
    color: #fff;
    background-color: #071119;
    border-color: #000000;
}

.textarea-comment {
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

.thumbnail{
    padding: 10px;
}

.limit{
    max-width : 300px;
    width : 300px;

    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-left: 40px;
    font-size: 15px;
}

.vlimit{
    width : 300px;
    word-wrap: break-word;
}

.limit-image{
    max-width : 1100px;
    word-wrap: break-word;
}

.jumbotron {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 10px;
}

.button-like {
    margin-top: 15px;
    color: #ff231e;
    font-size: 22px;
}
.button-like:focus {
    margin-top: 15px;
    color: #b21620;
    font-size: 22px;
}

.button-like:hover {
    margin-top: 15px;
    color: #c41923;
    font-size: 22px;
}

.name-image{
    font-size: 17px;
    font-weight: bold;

}
.comment{
    text-align: left;
    margin-left: 60px;
}

h2{  color: #05a88e;  }

h4{  color: #05a88e;  }


.btn {
    color: #05a88e;
}

.btn:hover{
    color: #014835;
}

.btn-info {
    color: #fff;
    background-color: #05a88e;
    border-color: #05876e;
}
.btn-info:focus,

.btn-info.focus {
    color: #fff;
    background-color: #014835;
    border-color: #033424;
}
.btn-info:hover {
    color: #fff;
    background-color: #017053;
    border-color: #04422e;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #014835;
    border-color: #033424;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #014835;
    border-color: #033424;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #014835;
    border-color: #033424;
}
.btn-info .badge {
    color: #fff;
    background-color: #014835;
}

.img-preview{
    margin-top: 15px;
    padding: 10px;
    border-color: #818181;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.text-error {
    color: #cc0216;
    font-size: 12px;
}

html,body {
    height:100%;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
    width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.filter-dropdown-box {
    margin: 0;
    padding-bottom: inherit;
    padding-top: 10px;
}

.profile-information-box {
    padding-bottom: inherit;
    padding-top: 10px;
}

.profile-img-box {
    padding-bottom: inherit;
    padding-top: 10px;
}

.btn-delete {
    background:none;
    border:none;
    box-shadow:none;
}

.popover-title{
    color: #0f0f0f;
}

.popover-content{
    color: #0f0f0f;
}

.card-center {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


/* mouse over link */
h2:hover {
    text-decoration: none;
    color: #058064;
}

/* selected link */
h2:active {
    text-decoratiosn: none;
    color: #033424;
}

/* mouse over link */
h4:hover {
    text-decoration: none;
    color: #058064;
}

/* selected link */
h4:active {
    text-decoration: none;
    color: #033424;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}