.text-notification{
    font-size: 14px;
    color: #000000;
}

.notification-box{
    height: 400px;
    width: 500px;
    color: #727272;
    background-color: #00b3ee;
}

.menu {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}


.glyphicon-bell {

    font-size:1.5rem;
}

.notifications {
    min-width:420px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color:#ff7788;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.menu.divider {
    margin:5px 0;
}

.item-title {

    font-size:1.3rem;
    color:#000;

}

.notifications a.content {
    background:#ccc;

}

.notification-item {
    padding:10px;
    margin:5px;
    background:#ccc;
    border-radius:4px;
}

.content-img{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    margin: 20px;
}

.notification-date {
    color: #555555;
}

.notification-username {
    color: #46949a;
    font-weight: bold;
}

.notification-title {
    color: #727272;

}

.notification-container {
    margin: 10px;
}
img {
    vertical-align: middle;
}
