{% extends "base.twig" %}

{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>


{% endblock navbar %}

{% block content %}

    <div class="container">
        <br>
        <h1 class="text-muted">Ups, algo ha salido mal...</h1>
        <hr>
       <p class="text-body">{{ message }}</p>
    </div>
    <br><br><br><hr><br>


{% endblock content %}

