{% extends "base.twig" %}

{# LA UTILIZAMOS PARA MOSTRAR MENSAJES VARIOS DE NO HAY IMAGENES, NO HAS HECHO COMENTARIOS, NO HAY NOTIFICACIONES#}


{% block navbar %}

    {#No logeado#}
    {% if logged == false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
        {% endif %}

    {#logeado#}
    {% if logged != false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>Opciones</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/upload-image">Añadir imagen</a></li>
                        <li><a href="/user-images">Imágenes subidas</a></li>
                        <li><a href="/user-comments">Comentarios del usuario</a></li>
                        <li><a href="/logout">Cerrar sesion</a></li>
                    </ul>
                </li>
                <li><a href="/edit-profile" class="dropdown-toggle" >
                        {#<span class="glyphicon glyphicon-user"></span> #}
                        <img class="img-circle" src="{{ asset('/profile_img/'~img~'.jpg','img') }}" height="25" width="25" >
                        <strong> {{ name }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

{% endblock navbar %}

{% block content %}

    <hr>
    <div class="container">
        <br><br>
        <div class="starter-template">
            <h1 class="text-muted">Bienvenido a PWGram</h1>
            <br><br>
            <p class="lead">{{ p }}<br> </p>
        </div>
        <br><br>
    </div>
    <hr>


{% endblock content %}
