{% extends "base.twig" %}


{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register">Register</a></li>
        </ul>
    </div>


{% endblock navbar %}

{% block content %}



{% endblock content %}
