{% extends "base.twig" %}


{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>


{% endblock navbar %}

{% block content %}

    <div class="container">
        <h1 class="text-muted">Register</h1>
        <hr>
        <div class="row">


            <div class="col-md-9 personal-info">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-muted">Username</label>
                        <div class="col-lg-8">
                            <input class="form-control " type="text" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-muted">Email: </label>
                        <div class="col-lg-8">
                            <input class="form-control" type="email" placeholder="example@mail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-muted">Fecha nacimiento:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="date" placeholder="dd/mm/yyyy">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted">Contraseña:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" placeholder="******">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted">Confirmar contraseña:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" placeholder="******">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted">Imagen perfil:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="Registrar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

{% endblock content %}
