{% extends "base.twig" %}


{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>


{% endblock navbar %}

{% block content %}

    <div class="container">
        <h1 class="text-muted">Registro</h1>
        <hr>
        <div class="row">


            <div class="col-md-9 personal-info">

                <form class="form-horizontal" enctype="multipart/form-data" id="registerUserForm" action="/register/form" method="POST">
                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Username</label>
                        <div class="col-lg-8">
                            <input class="form-control " type="text" placeholder="Username" name="username" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Email: </label>
                        <div class="col-lg-8">
                            <input class="form-control" type="email" placeholder="example@mail.com" name="mail" id="mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Fecha nacimiento:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="date" id="date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted">Contraseña:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" placeholder="******" name="password" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted">Confirmar contraseña:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" placeholder="******" name="confirm-password" id="confirm-password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted">Imagen perfil:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="image-path" id="image-path" type="file" onchange="readURL(this);">
                            <img id="img-preview" height="100" width="100" src="{{ asset('/profile_img/img_profile_default.jpg', 'img') }}" alt="your image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn our-btn">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('register.js', 'js') }}"></script>
    <script type="text/javascript" src="{{ asset('image_tools.js', 'js') }}"></script>
{% endblock javascripts %}